# 1주차 미션
### 목적 : 데이터 사이언스를 위한 파이썬과 판다스 동기부여

Q1. 여러분은 파이썬을 통해 설문조사 문항의 응답내역을 분석하게 되었습니다. 문항별 응답내용에는 하나의 응답만 할 수 있는 single choice 문제와 여러 응답을 선택할 수 있는 multiple choice문제가 있습니다. 2개를 구분하기 위해 single choice 문항 번호에 "_"를 표기하지 않기로 했습니다.

In [1]:
# 응답 설문 문항
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [2]:
# comprehension을 이용하여 번호 추출

single_choice = [i for i in question if '_' not in i]
print(single_choice)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [3]:
# find함수를 사용
single = []
multi = []
for answer in question :
    if answer.find('_')== -1: # 찾고자 하는 문자가 없을 시 -1반환
        single.append(answer)
    else :
        multi.append(answer)

print(*single)
print(*multi)

Q2 Q3 Q4 Q5 Q8 Q9
Q6_1 Q6_2 Q6_3 Q6_4 Q6_5 Q6_6 Q6_7 Q6_8 Q6_9 Q6_10 Q6_11 Q6_12 Q7_1 Q7_2 Q7_3 Q7_4 Q7_5 Q7_6 Q7_7 Q10_1 Q10_2 Q10_3

Q2. 한스 로슬링(Hans Rosling, 1948년 7월 27일 ~ 2017년 2월 7일)은 스웨덴의 의사이자 통계학자로 비영리 벤처 갭마인더 재단의 공동설립자이기도 합니다. 빅데이터를 가장 잘 활용하는 보건 통계학자로 알려져 있습니다. 베스트셀러 책인 "팩트풀니스" 저자이기도 합니다. 갭마인더 사이트에서는 연도별, 국가별 GDP와 기대수명 데이터를 제공하고 있는데, 대표적으로 파이썬 라이브러리 중 'seaborn'에서 제공되는 예제 데이터가 있습니다. 오늘은 이 데이터를 활용해 문제를 풀어보겠습니다.
다음의 데이터는 연도, 국가별 기대수명을 나타내고 있는 데이터 입니다. 2011년 부터의 연도별, 국가별 평균 기대수명을 구해주세요. (2011년도 포함되게 구합니다.)

* [필수조건] : groupby나 pivot_table을 활용합니다. groupby로 구할 때 unstack이라는 기능을 사용하여 아래와 같이 컬럼에 인덱스 값을 올려서 표기할 수 있다.
* 만약 행에는 '연도'가, 열에 '국가'가 들어있고 수치 데이터 결과값이 아래와 같다면 출력형태는 조금 달라도 괜찮다.
* 데이터는 다음의 방법으로 읽어온다.

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [5]:
df.columns

Index(['Year', 'Country', 'Spending_USD', 'Life_Expectancy'], dtype='object')

In [6]:
# 2011년 이후의 자료만 추출하여 저장
df = df[df['Year']>=2011]

In [7]:
# pivot_table을 이용하여 정렬
df = pd.pivot_table(df, values='Life_Expectancy', index='Year', columns='Country',aggfunc='mean')
df

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [8]:
# groupby와 unstack() 사용하여 정렬
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")

df = df[df['Year']>=2011]

df = df.groupby(['Year', 'Country'])['Life_Expectancy'].mean().unstack(level=1)
df

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0